{% extends 'core/base.htm' %}
{% block titulo %}
Pagina inicial 
{% endblock %}
{% block contenedor %}
    {% load static %}
<form method="POST">
    {% csrf_token %}
    <table class="tableRegistrar" border="1">
        <thead>
            <tr>
                <th>
                    Inicie Sesión para gestión de Mascotas
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rut:</td>
                <td>
                    <input type="text" name="txtRun" value="" placeholder="rut sin puntos y con güion" required/> 
                </td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td>
                    <input type="password" name="txtPass" value="" placeholder="" required/> 
                </td>
            </tr>
            <tr>
                <td><button class="button" type="submit">Validar</button>
                <a href="{% url 'rec' %}">Olvidaste tu Contraseña?</a>||
                <a href="{% url 'social:begin' 'facebook' %}">Facebook Login</a></td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}