
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    {% block js %}

    {% endblock %}
    {% block css %}

    {% endblock %}
    <title>
        {% block titulo %}

        {% endblock %}
    </title>
</head>
<ul>
        <li><a href="">Contacto</a></li>
        <li><a href="">Servicios</a></li>
        <li><a href="">Quienes Somos</a></li>
        <li><a href="{% url 'forS2' %}">Registrarse</a></li>
        <li><a class="active" href="{% url 'home' %}">Inicio</a></li>
    </ul>

        <div class='Container'>
        <div class="header" id="myHeader">
        <img class='Logo' src="{% static 'core/img/logo.png' %}" alt="Logo">
        </div>      
        </div>  
       <form method="POST">
        {% csrf_token %}
        
          <div>
              <div>
                    <table class="tableIngresar" border="1">
                  <form id="formulario" method="POST"  name="formulario">
                      
                      <h1>Recuperar Contraseña</h1>
                      <h1 >Ingrese Rut de Usuario</h1>
                      <input type="text" id="txtUsuario" name="txtUsuario" placeholder="ingrese Rut" required="" autofocus="">
                      <button  type="submit" id="btnRecuperar">Recuperar</button>
                      <button  type="button"><a href="/intermedio">Volver</a></button>
                      <hr>
                      {% if correo %}
                      <p>Se a enviado su clave a su correo</p>
                      {% endif %}
                      {% if noexiste %}
                      <p1>Usuario no existente</p1>
                      {% endif %}
                  </form>
                </table>
              </div>           
          </div>
        
  </form>